In [ ]:
%pip install - -upgrade pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
np.set_printoptions(precision=2)

In [ ]:
# Create new matrix with dimensions 2,5 with random numbers

x1 = np.random.rand(2, 5) * 100
x1

In [ ]:
# Create new matrix with dimensions 2,5 with negative random numbers

x2 = np.random.rand(2, 5) * -100
x2

In [ ]:
# Concatenate two differents array. IT concatenate in rows

np.concatenate([x1, x2])

In [ ]:
# Concatenate two arrays but in their columns
np.concatenate([x1, x2], axis=1)

In [ ]:

np.concatenate([x1, x2], axis=1).shape

In [ ]:
s1 = pd.Series(x1[0], index=['a', 'b', 'c', 'd', 'e'])
s1

In [ ]:
s2 = pd.Series(x2[0], index=['c', 'd', 'e', 'f', 'g'])
s2

In [ ]:
# Concat with pandas two series. BUt it add the new values in row, even if they have the same index

pd.concat([s1, s2])

In [ ]:
# This concat two Series, but with the different, that this will create a matrix where the elements with same index will be in the same row
# If we not define the index, it will take the index of the array based zero
pd.concat([s1, s2], axis=1)

In [ ]:
df1 = pd.DataFrame(np.random.rand(3, 2) * 100, columns=['a', 'b'])
df1

In [ ]:
df2 = pd.DataFrame(np.random.rand(3, 2) * -100,
                   columns=['a', 'b'], index=[2, 3, 4])
df2

In [ ]:
# Concat two data frames

pd.concat([df1, df2])

In [ ]:
# Concat in columns two data frames

pd.concat([df1, df2], axis=1)

In [ ]:
# We can use join for made Venn diagram operations as well sqls. In this case, with inner, with return the rows where both data frames are the same

pd.concat([df1, df2], axis=1, join="inner")

In [38]:
# We can reset their index if we want like this

pd.concat([
    df1.reset_index(drop=True),
    df2.reset_index(drop=True)], axis=1)

      a     b      a      b
0 29.58 98.09 -54.03 -78.59
1 44.57 40.84 -49.02 -58.88
2 91.80 88.64 -88.53  -2.80

In [40]:
# There is another way to concat two DataFrames. It way is with append, but this way is deprecated

df1.append(df2)

/tmp/ipykernel_2177/1001867416.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

       a      b
0  29.58  98.09
1  44.57  40.84
2  91.80  88.64
2 -54.03 -78.59
3 -49.02 -58.88
4 -88.53  -2.80

In [41]:
# Transpuesta of the matrix
df1.T

      0     1     2
a 29.58 44.57 91.80
b 98.09 40.84 88.64

In [42]:
# concat with columns in append

df1.T.append(df2.T)

/tmp/ipykernel_2177/1665538445.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.T.append(df2.T)

      0     1      2      3      4
a 29.58 44.57  91.80    NaN    NaN
b 98.09 40.84  88.64    NaN    NaN
a   NaN   NaN -54.03 -49.02 -88.53
b   NaN   NaN -78.59 -58.88  -2.80