In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
pd.options.display.float_format = '{:,.3f}'.format

In [ ]:
df = sns.load_dataset('tips')
df

In [ ]:
df.describe(include='all')

In [ ]:
df['day'].value_counts()

In [ ]:

df['day'].value_counts() / df['day'].value_counts().sum() * 100

In [ ]:
df.groupby('sex').mean()

In [ ]:
df['prct_tip'] = df['tip']/df['total_bill']
df.head(5)

In [ ]:
df.groupby('sex').mean()

In [ ]:
df.groupby('sex').median()

In [ ]:
df.groupby('sex')[['total_bill', 'prct_tip']].describe()

In [ ]:
def mean_eur2usd(x):
    return np.mean(x) * 1.12

In [ ]:
df.groupby('sex')[['total_bill', 'prct_tip']].apply(mean_eur2usd)

In [ ]:

df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(mean_eur2usd)

In [ ]:
df['ones'] = 1
df

In [ ]:
# El doble [[]] genera un data frame
df_g = df.groupby(['sex', 'smoker'])[['ones']].sum()
df_g

In [ ]:
df_g.groupby(level=0).apply(lambda x: x / x.sum() * 100)

In [ ]:
# Me genera categoria en 3 intervalos (bins define el numero de intervalso) para la variable totaol_bill de mi DataFrame
pd.cut(df['total_bill'], bins = 3).value_counts()

In [ ]:
# Categorias con intervalos personalizados

pd.cut(df['total_bill'], bins = [3,18,35, 60]).value_counts()

In [ ]:
df['bin_total'] = pd.cut(df['total_bill'], bins = [3,18,35,60])
df

In [35]:
df.groupby(['time', 'bin_total'])[['ones']].count()

                  ones
time   bin_total
Lunch  (3, 18]      45
       (18, 35]     21
       (35, 60]      2
Dinner (3, 18]      82
       (18, 35]     80
       (35, 60]     14

In [39]:
# Agrupar por tiempo y bin_total, usamos ones para poder dividir la data por categorias sin problemas, 
# contamos la cantidad total por cada categoria y volvemos a agrupar dicho dataframe que nos arroja count
# de manera que podamos aplicarle una lambda para convertir de numeros a porcentajes

df.groupby(['time', 'bin_total'])[['ones']].count().groupby(level=0).apply(lambda x: x/x.sum() * 100)

                   ones
time   bin_total
Lunch  (3, 18]   66.176
       (18, 35]  30.882
       (35, 60]   2.941
Dinner (3, 18]   46.591
       (18, 35]  45.455
       (35, 60]   7.955