In [ ]:
import pandas as pd
import numpy as np

In [6]:
# Merge two DataFrames is usefull when we want put two or more of them together based in a index thwy share

df_left = pd.DataFrame(
    {'X': ['x0', 'x1', 'x2', 'x3'],
     'W': ['w0', 'w1', 'w2', 'w3'],
     'Y': ['y0', 'y1', 'y2', 'y3'],
     'Mix': ['y2', 'y3', 'a2', 'a3']},
    index=[0, 1, 2, 3]
)

df_left

    X   W   Y Mix
0  x0  w0  y0  y2
1  x1  w1  y1  y3
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [8]:
df_right = pd.DataFrame(
    {
        'Z': ['z2', 'z3', 'z4', 'z5'],
        'A': ['a2', 'a3', 'a4', 'a5'],
        'Y': ['y2', 'y3', 'y4', 'y5']
    },
    index=[2, 3, 4, 5]
)

df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [7]:
# Pandas hace merge automaticamente de las variables compartidas

pd.merge(df_left, df_right)

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [10]:
# Hace merge, inner (es decir, solo valores compartidos) basados en el par√°metro Y
pd.merge(df_left, df_right, how = 'inner', on = 'Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [11]:

pd.merge(df_left, df_right, how = 'inner', left_on = 'Mix', right_on='Y')

    X   W Y_x Mix   Z   A Y_y
0  x0  w0  y0  y2  z2  a2  y2
1  x1  w1  y1  y3  z3  a3  y3

In [12]:

pd.merge(df_left, df_right, how = 'inner', left_on = 'Mix', right_on='A')

    X   W Y_x Mix   Z   A Y_y
0  x2  w2  y2  a2  z2  a2  y2
1  x3  w3  y3  a3  z3  a3  y3